<div class="picture-input-container cappli-box-container">
  <div class="box">
    <label>{{ pictureLabel() }}{{ isFieldRequired(pictureControlName()) ? ' *' : '' }}
      @if (picturePreview != null && picturePreview && isEditable())
      { 
        <p-button
            icon="pi pi-times"
            [rounded]="true"
            [text]="true"
            severity="danger"
            (click)="removeProfilePicture()"
            class="remove-picture-btn"
            [style]="{'position': 'absolute', 'margin-top': '-12px'}"
          />
      }
    </label>
    <div class="d-flex flex-column gap-10">
      @if (!picturePreview && isEditable())
      {
        <input
          #fileInput
          type="file"
          [accept]="allowedFormatsAttribute"
          (change)="onPictureSelect($event)"
          class="hidden"
          id="profilePictureInput"
        />
        <p-button
          [label]="pictureSelectButtonLabel()"
          icon="pi pi-upload"
          (click)="fileInput.click()"
          [outlined]="true"
          size="small"
        />
        <small class="text-muted">{{allowedFormatsLabel()}}: {{ allowedFormatsDisplay }} (max {{ maxSizeMB() }}MB)</small>
      }
      @else if (picturePreview)
      {
        <div class="profile-picture-preview">
          <img class="profile-picture" [src]="picturePreview" [alt]="pictureLabel()" />
        </div>
      }
      @else
      {
        <input
          pInputText
          type="text"
          required
          [value]="noPictureLabel()"
          class="p-inputtext"
          [disabled]="true"
        />
      }
    </div>
  </div>
</div>