.image {
  width: 100%;
  opacity: 0;
  transition: opacity 0.2s;
  display: block;

  &-loaded {
    opacity: 1;
  }
}

.placeholder {
  filter: blur(10px);
  background-repeat: no-repeat;
  background-size: cover;

  &-loaded {
    filter: none;
  }
}
