<div class="box" [formGroup]="formGroup()">
  @if (label()) 
  {
    <div class="d-flex align-items-center gap-10">
        <ng-content select="[customTitle]">
            <label [for]="inputId()">
              {{ label() }}
              @if (isFieldRequired()) {
                <span> *</span>
              }
            </label>
        </ng-content>
        <ng-content select="[titleContent]"></ng-content>
    </div>
  }
  
  @if (customInput()) 
  {
    <ng-content></ng-content>
  }
  @else if (inputType() === 'select')
  {
    <select
      [id]="inputId()"
      [formControlName]="controlName()"
      [required]="isFieldRequired()"
    >
      <option value="" disabled>{{ placeholder() }}</option>
      @for (option of options(); track $index) {
        @if (optionValue()) {
          <option [value]="option[optionValue()!]">{{ option[optionLabel()] }}</option>
        } @else {
          <option [ngValue]="option">{{ option[optionLabel()] }}</option>
        }
      }
    </select>
  }
  @else if (inputType() === 'multiSelect')
  {
    @if (!isFieldDisabled())
    {
      <select
        [id]="inputId()"
        [formControlName]="controlName()"
        multiple
      >
        @for (option of options(); track $index) {
          <option [ngValue]="option">{{ option[optionLabel()] }}</option>
        }
      </select>
    }
    @else
    {
      <input type="hidden" [id]="inputId()" [formControlName]="controlName()" />
      @if (inputValue && inputValue.length > 0) 
      {
        <div class="suggestions-box disabled mb-10">
          <ul>
            @for (value of inputValue; track $index) {
              @if (value && value[optionLabel()]) {
                <li>{{ value[optionLabel()] }}</li>
              }
            }
          </ul>
        </div>
      }
      @else 
      {
        <div>Aucune {{ label().toLowerCase() }}</div>
      }
    }
  }
  @else if (inputType() === 'date')
  {
    <input
        [type]="dateShowTime() ? 'datetime-local' : 'date'"
        [id]="inputId()"
        [formControlName]="controlName()"
        [attr.min]="toDateString(dateMin())"
        [attr.max]="toDateString(dateMax())"
        [placeholder]="placeholder()"
        [required]="isFieldRequired()"
    />
  }
  @else if (inputType() === 'radio')
  {
    <div class="radio-group d-flex align-items-center gap-20">
      @for (option of options(); track $index) {
        <div class="p-field-radiobutton d-inline-flex gap-5 cursor-pointer">
          <input
              type="radio"
              [id]="inputId() + '-' + option.value"
              [formControlName]="controlName()"
              [value]="option.value"
          />
          <label [for]="inputId() + '-' + option.value" class="radio-label">{{ option.label }}</label>
        </div>
      }
    </div>
  }
  @else if (inputType() === 'textarea')
  {
    <textarea
        [id]="inputId()"
        [formControlName]="controlName()"
        [rows]="textareaRows()"
        [placeholder]="placeholder()"
        [required]="isFieldRequired()"
    ></textarea>
  }
  @else if (inputType() === 'number')
  {
    <input
        type="number"
        [id]="inputId()"
        [formControlName]="controlName()"
        [placeholder]="placeholder()"
        [required]="isFieldRequired()"
    />
  }
  @else
  {
    <input
        [id]="inputId()"
        [formControlName]="controlName()"
        [type]="inputType()"
        [required]="isFieldRequired()" 
        [placeholder]="placeholder()"
    />
  }
    
  @if (shouldShowError()) {
    <div>
      <small class="text-error">{{ getErrorMessage() }}</small>
    </div>
  }
</div>