.form-box {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: var(--app-space-sm);

    .form-label {
        display: flex;
        align-items: center;
        color: var(--app-color-text);
        gap: var(--app-space-xs);
        margin-bottom: var(--app-space-xs);
        .form-error {
            margin-left: var(--app-space-xs);
            color: var(--app-color-error);

            // Display the error starting with a lowercase letter
            .form-error-text {
                display: inline-block;
                &::first-letter {
                    text-transform: lowercase;
                }
            }
        }
    }

    input, textarea, select {
        width: 100%;
        padding: var(--app-space-sm);
        color: var(--app-color-text);
        border: var(--app-border);
        border-radius: var(--app-radius);

        &:focus {
            outline: none;
            border-color: var(--app-color-active);
        }
    }
}
