<div class="address-input-container cappli-box-container">

  <app-input
    [controlName]="addressControlName()"
    [label]="addressLabel()"
    [placeholder]="addressPlaceholder()"
    [isSubmitted]="isSubmitted()" />

  @if (suggestions.length > 0) {
    <div class="suggestions-box">
      <ul>
        @for (suggestion of suggestions; track suggestion) {
          <li (click)="selectSuggestion(suggestion)">
            {{ suggestion.properties.label }}
          </li>
        }
      </ul>
    </div>
  }

  <app-input
    [controlName]="complementControlName()"
    [label]="complementLabel()"
    [placeholder]="complementPlaceholder()"
    [isSubmitted]="isSubmitted()" />

  <app-input
    [controlName]="postalCodeControlName()"
    [label]="postalCodeLabel()"
    [placeholder]="postalCodePlaceholder()"
    [isSubmitted]="isSubmitted()" />
  
  <app-input
    [controlName]="cityControlName()"
    [label]="cityLabel()"
    [placeholder]="cityPlaceholder()"
    [isSubmitted]="isSubmitted()" />

  <app-input
    [controlName]="departmentControlName()"
    [inputType]="'select'"
    [label]="departmentLabel()"
    [placeholder]="departmentPlaceholder()"
    [options]="departments"
    [optionLabel]="'name'"
    [selectFilterPlaceholder]="departmentSelectFilterPlaceholder()"
    [isSubmitted]="isSubmitted()" />
  
</div>
